@import './variables.scss';

.button {
    cursor: pointer;
    border: none;
    font-family: $font;
    font-size: 2.5em;
    &__wide {
        width: 100%;
        height: 10vh;
        background: rgba($color: #000000, $alpha: 0.1);

        &:hover {
            background: rgba($color: #000000, $alpha: 0.5);
            transition: 1s;
        }
    }
}