@import './variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    margin: 0;

}

.welcome {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 3px solid black;

    &::before {
        content: '';
        background-image: url('../images/main-image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        position: absolute;
        opacity: 0.6;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70%;
        position: relative;
        flex-direction: column;
        z-index: 2;

    }

    &__header {
        font-family: $font;
        font-size: 6em;
        color: black;
        transition: 1s;
    }
}

//articles
.articles {

    &__first,
    &__second {
        display: flex;
    }

    &__half {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

}

.article {

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    color: white;
    text-decoration: none;

    &__text-holder {
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.648);
    }

    &__header {
        font-size: 4em;
    }

    &:hover {
        opacity: 1;
        transition: 1s;
    }


    &__more {
        text-decoration: none;
    }


    &__shapes {
        aspect-ratio: 4/3;
        width: 100%;

        background-image: url('../images/shapes.jpg');
        background-size: cover;
    }

    &__contact {
        width: 100%;
    }

    &__types {
        background-image: url('../images/bonchi.jpg');
        background-position: -10%;
        width: 60%;
        background-color: red;
        transition: 0.5s;
        background-size: cover;

        &:hover {
            background-image: url('../images/maple.jpg');
            transition: 0.5s;
        }
    }

    &__guides {
        width: 55%;
        background-image: url('../images/create.png');
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: 16/9;
    }

    &__tools {
        background-image: url('../images/tools.jpg');
        background-repeat: no-repeat;
        aspect-ratio: 16/9;
        width: 45%;
        background-size: cover;
    }
}

.footer {
    background-color: rgb(71, 83, 71);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}